doctype html
html(lang="en")
    head
        title Example
    body
        h1 title
            p this is a test
            
            ul
                li 
                li 
                li 
                li 
                
